<div id="modal" class="modal-is-open modal-is-opening" _="on closeModal remove .modal-is-opening then wait 10 then add .modal-is-closing then wait for animationend then remove me">
<dialog _="on click if target is me then trigger closeModal" open>
  <article>

    <div class="overflow-auto" style="text-wrap: nowrap;">
      <nav>
        <ul>
          <li><div hx-get="/settings?tab=general" hx-target="#settings-tab" hx-swap="innerHTML" style="cursor: pointer;">General</div></li>
          <li><div hx-get="/settings?tab=categories" hx-target="#settings-tab" hx-swap="innerHTML" style="cursor: pointer;">Categories</div></li>
          <li><div hx-get="/settings?tab=sections" hx-target="#settings-tab" hx-swap="innerHTML" style="cursor: pointer;">Sections</div></li>
          <li><div hx-get="/settings?tab=content-filter" hx-target="#settings-tab" hx-swap="innerHTML" style="cursor: pointer;">Content Filter</div></li>
          <li><div hx-get="/settings?tab=syncing" hx-target="#settings-tab" hx-swap="innerHTML" style="cursor: pointer;">Syncing</div></li>
          <li><div hx-get="/settings?tab=experimental" hx-target="#settings-tab" hx-swap="innerHTML" style="cursor: pointer;">Experimental</div></li>
        </ul>
      </nav>
    </div>
    <hr>
    <div id="settings-tab">
    {% include 'settings_tab.html' %}
    </div>
    <footer>
      <button _="on click trigger closeModal" class="secondary">
        Cancel
      </button>
      <button>Save</button>
    </footer>
  </article>
</dialog>
</div>
